<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="th.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="th.js"></script>
    <meta charset="UTF-8">
    <title>Contrôle Thermostat</title>
</head>
<body>

    <div ng-app="th" ng-controller="thCtrl">
        <p>{{topic}}</p>
        <p>Temperature: {{temp}}°C</p>
        <div layout="row"  >
            <table border="1" style="border: 1px; width:200px" class="table-editable">
                 <thead>
                <tr>
                    <th>Jour</th>
                    <th>Début</th>
                    <th>Fin</th>
                </tr>
                </thead>
                <tr ng-repeat="d in schedule">
                        <td>{{week[$index]}}</td>

                        <td ng-repeat="s in d track by $index">
                            {{s.start}}
                        </td>
                        <td ng-repeat="s in d track by $index">
                            {{s.end}}
                        </td>

                </tr>
            </table>
        </div>
    </div>

</body>
</html>
